.container{
    width: auto;
    background-color: #fff;
}

.navbar__container{
    height: 30px;
}

.nav__page {
   text-align: center;
   margin-left: 100px;
}
.nav__menu{
    background-color: rgb(10, 10, 10);
    border: none;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}

.nav__menu:hover{
    background-color:rgb(143, 120, 120) ;
}
